server {
  listen {{ DOCKER_JENKINS_NGINX_PORT }};
{% if DOCKER_JENKINS_NGINX_ENABLE_SSL %}
  listen {{ DOCKER_JENKINS_SSL_NGINX_PORT }} ssl;
  ssl_certificate {{ DOCKER_JENKINS_NGINX_SSL_CERTIFICATE_FILE }};
  ssl_certificate_key {{ DOCKER_JENKINS_NGINX_SSL_KEY_FILE }};
{% endif %}
  server_name {{ DOCKER_JENKINS_DOMAIN_NAME }};

  location / {
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_set_header X-Forwarded-Port $server_port;
    proxy_set_header X-Forwarded-For $remote_addr;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header Host $host;
    proxy_pass http://{{ DOCKER_JENKINS_HOST_PORT_MAPPING }};
    proxy_read_timeout 90;
    proxy_redirect http://{{ DOCKER_JENKINS_HOST_PORT_MAPPING }} $scheme://{{ DOCKER_JENKINS_DOMAIN_NAME }};
    proxy_http_version 1.1;
    proxy_request_buffering off;
  }
}
